@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f5f7ff;
}

.navbar {
    padding: 18px 0;
}

.navbar-brand {
    color: #6C63FF !important;
}

.nav-link {
    font-weight: 500;
    margin-left: 20px;
}

.btn-primary {
    background: #6C63FF;
    border: none;
    padding: 10px 24px;
    border-radius: 12px;
    transition: .3s;
}

.btn-primary:hover {
    background: #5548e5;
}

.hero {
    padding: 90px 0;
}

.hero h1 {
    color: #222;
    line-height: 1.2;
}

.hero p {
    font-size: 20px;
    color: #666;
}

.hero img {
    border-radius: 25px;
}

.stats {
    padding: 80px 0;
}

.stat-card {
    background: white;
    padding: 35px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,.08);
    transition: .3s;
}

.stat-card:hover {
    transform: translateY(-8px);
}

.stat-card h2 {
    color: #6C63FF;
    font-size: 42px;
    font-weight: 700;
}

.features {
    padding: 80px 0;
}

.feature-card {
    background: white;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,.08);
    text-align: center;
    transition: .3s;
    height: 100%;
}

.feature-card:hover {
    transform: translateY(-8px);
}

footer {
    background: #6C63FF;
    color: white;
    padding: 20px;
    margin-top: 60px;
}

.login-card {
    background: white;
    padding: 45px;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0,0,0,.1);
}

.form-control {
    padding: 12px;
    border-radius: 10px;
}

label {
    font-weight: 600;
    margin-bottom: 8px;
}

a {
    text-decoration: none;
}
/* Dashboard */

.dashboard-card {
    border: none;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.dashboard-card:hover {
    transform: translateY(-8px);
}

.dashboard-card .card-body {
    padding: 30px;
}

.dashboard-card h1 {
    font-size: 55px;
}

.table td {
    vertical-align: middle;
}